<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body style="background-color: aquamarine;">
    <h1>Login Page</h1>
    <form method="POST" action="/">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required placeholder="Enter your email ID"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required placeholder="Enter password"><br><br>
      <input type="submit" value="Login">
    
    </form>

    <br><br>
  
    <h1 style="color: crimson; font-size: larger;">
       {{ display }}</h1>
  </body>
</html>