<!DOCTYPE html>
<html>

<head>
    <h1></h1>
</head>
<body style="background-color: bisque;">
    <h1 style="text-align: center;">Welcome!</h1><br>
    <h4 style="text-align: center;color: deeppink;">Enter age and salary values and we will predict<br>
        if the product is purchaseable or not!</h3><br><br>
    <form style="text-align: center;" method="POST" action="/predict">
    Enter Age:  <input type="text" name="age" /><br><br>
    Entery Salary:  <input type="text" name="sal" /><br><br><br>
    <input type="submit" value="GO!"><br><br>

    <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: blueviolet;">{{ text }}</h2>
</form>
</body>
</html>